<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="base.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <p>the UID is {{ everyuser }} </p>

     <script type="text/javascript" src="base.js"></script>
  </body>
</html>
