<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
  </head>
  <body>
    <div class="container">
      <form class="form-signin">
        <h1> YOU SHALL NOT PASS </h1>
        <p> unless you have dropbox! : <a href="/auth/dropbox">Sign In</a></p>
      </form>
    </div> <!-- /container -->
  </body>
</html>


