{{! This template is used by the Application object created
    created in init.js, calling Application.setView() will
    place a view where layout-element is called below. }}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <a class="brand logo" href="#">Dropflowr</a>
        <ul class="nav">
          <li><a href="#">Dropbox</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container bigview">
  <div class="row">
    <div class="span12">
      {{layout-element}}



    </div>

  </div>
</div>







